* {
  /* box-sizing: border-box; */
  /* background-color: whitesmoke; */
  background-color: #F2E7FF;
  /* color: navy; */
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #f4623a;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #f4623a;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 244, 98, 58;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

*.dark {
  background-color: black;
}

h1, p, h5, .buttons {
  text-align: center;
}

h2 { 
  text-align: center; 
  font-size: 2rem;
}

hr.divider { 
  height: 0.2rem;
  max-width: 8rem;
  margin: 1.7rem auto;
  background-color: white;
  opacity: 1;
}

.fa-map-marker {
  align-items: center;
  display: inline-block;
}

.social-media-buttons a {
  color: black;
}

/* MASTHEAD STYLES */

.masthead { 
  padding-top: 10rem;
  /* padding-bottom: calc(10rem - 4.5rem); */
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("images/lavender/lavenderField.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.masthead-row, 
.masthead-about,
.masthead-header,
.hello-box, 
.masthead-about-text, 
.masthead-text-box { 
  background-color: transparent;
}

.masthead-text-box {
  color: white;
  opacity: 0.8;
}

.masthead-header {
  opacity: 0.8;
}

#lavender { 
  opacity: 0.9;
}

.btn-masthead { 
  background-color: rebeccapurple;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


main { 
  /* padding: 100px 27px; */
  flex: 1 1 auto;
  background-color: #F2E7FF;
  color: #2B283A;
}


/* NAV */
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl { 
  display: flex;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); 
  align-items: center;
  justify-content: space-between;
  flex-wrap: inherit;
  background-color: cornsilk;
}

@media (min-width: 992px) {
.px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
}

@media (min-width: 1200px) {
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
}
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* #main-nav { */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding: 30px 250px;  */
  /* height: 60px; */
  /* width: 100%;  */
  /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); 
  align-items: center;
  justify-content: space-between; */
  /* z-index: 1;  */
  /* top: 0; */
  /* position: fixed; */
  /* float:left; */
  /* position:fixed; */
    /* width:100vw; */
    /* border:1px white solid; 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
/* } */

#main-nav {
  justify-content: center;
  display: flex;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  background-color: cornsilk;
 }
 
 #main-nav a {
   padding: 1rem 3rem;
   display: block;
   color: black;
   /* border: 1px solid red */
 }
 
 #main-nav a:hover {
   color: #6f42c1;
   font-weight: bold;
 }
 
 a { 
   list-style-type: none;
   flex-wrap: none;
 }


.nav-links {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: cornsilk;
  
}

.nav-links a { 
  cursor: pointer;
}

a:hover { 
  text-decoration: none;
  color: white;
}

.nav--title {
  color: cornsilk;
  align-items: center;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: cornsilk;
}

.nav-toggle, 
.navbar-collapse, 
.nav-link, 
.main-na, 
.navbar-toggler-icon,  
.navbar { 
  background-color: cornsilk;
}

/* ABOUT styles */

#about-header { 
  padding-bottom: 0.5em;
  font-size: 2rem;
  color: white;
}

.about-section { 
  padding: 8rem 0;
  background-color: indigo;
}

#about-header,
.about-info, 
.about-divider {
  background-color: indigo;
}

#about-header, 
.about-section, 
.about-info, 
.about-divider
{
  width: 100%;
  color: white;
}

.about-info { 
  padding-left: 10em;
  padding-right: 10em;
}

.bg-warning { 
    --bs-bg-opacity: 1;
}

.btn-about { 
  display: block;
  background-color: cornsilk;
  color: indigo;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* .about-button-div { 
  margin-top: 2em;
  width: 100%
} */



/* SKILLS IMAGES */

/* .skills-images { 
  padding-top: 2em;
} */

.github-button {
  margin-right: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* TOGGLER styles */

/* .toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
} */

/* nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
} */

/* nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
} */

/* buttons */

/* .button.linkedin { */
  /* display: flex;
flex-direction: row;
justify-content: center; */
/* align-items: center;
padding: 9px 13px 9px 11px; */

/* box width */
/* width: 100px;
height: 34px;
left: 283px;
top: 469px; */

/* text */
/* position: static;
width: 57px;
height: 16px;
left: 40px;
top: 9px; */
/* color: white;
font-family: 'Arial';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px; */

/* background: #297FE5; */
/* shadow/sm */
/* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px; */
/* } */

/* .button.email { */
  /* position: absolute; */
/* width: 115px;
height: 34px;
left: 151px;
top: 468px; */

/* white */

/* background: #FFFFFF; */
/* gray/300 */

/* border: 1px solid #D1D5DB;
box-sizing: border-box; */
/* shadow/sm */

/* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px; */

/* text */
/* font-family: 'Arial';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px; */

/* } */

/* .button.github {
  width: 115px;
  height: 34px;
  left: 151px;
  top: 468px;
  padding: 9px 13px 9px 11px;
  border-radius: 6px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
} */

.buttons { 
  display: flex;
  align-items: center; 
  padding-top: 3em;
  justify-content: center;
  background-color: #F2E7FF;
}

.social-media-buttons {
  display: flex;
  background-color: #F2E7FF;
}

.buttons li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 5em;
  color:rgba(0, 0, 0, 0.25);
  background-color: #F2E7FF;
}

a {
  color: black;
}

/* Parallax */

/* .parallax {  */
  /* The image used */
  /* background-image: url("images/lavender/lavenderFieldParallax.jpg"); */

  /* Set a specific height */
  /* max-height: 500px; */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* } */



/* Skills images */

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin-right: auto;
  margin-left: auto;  
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2em; 
  padding-bottom: 2em;
}

/* .padding {
  padding-bottom: 1rem;
} */


/* PROJECTS PAGE STYLES */

#projects-header { 
  padding-top: 5em;
}

.card {
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 5em;
  /* margin-top: 5em; */
} 

.card-bottom { 
  margin-top: 5em;
  margin-bottom: 5em;
}


.projects { 
  padding-bottom: 10em;
  padding-top: 1em;
  background-color: indigo;
}

.projects-section { 
  padding-bottom: 2em;
  background-color: indigo;
}

.row.projects-header-divider, 
.project-section {
  width: 100%;
}

#projects-header,
.project-section, 
.projects-header-divider, 
.card-group, 
.card-body, 
.card-title,
.card-text { 
  background-color: indigo;
  color: white;
}

/* FOOTER STYLES */

footer { 
  padding-top: 1em;
  padding-bottom: 1.5em;
  background-color: #F2E7FF;
}

.footer-hr, .header-hr {
 
    /* border-top: 2px solid #b4b4b4; */
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    height: 0.2rem;
    max-width: 5rem;
    margin: 1.5rem auto;
    background-color: white;
    opacity: 1;
}

.footer-hr, .site-footer, .footer h5  {
  background-color: #F2E7FF;
}

.fa-map-marker {
  justify-content: center;
}


